<div class="container-fluid m-0 p-0 gg">
    <div class="carousel d-flex p-0">
        <div class="carousel-track p-0">
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
                </div>
             
                <!--  -->
                <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
            </div>
               
                
                 <!--  -->
                 <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
            </div>
            
        </div>
        <div class="carousel-track">
            <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
        </div>
        <div class="carousel-slide">
                <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
        </div>
                
                <!--  -->
                <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
            </div>
            <div class="carousel-slide">
                    <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
            </div>
                     <!--  -->
                     <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (1).jpeg" alt="Slide 1">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (2).jpeg" alt="Slide 2">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (3).jpeg" alt="Slide 3">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03 (2).jpeg" alt="Slide 4">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02 (4).jpeg" alt="Slide 5">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.02.jpeg" alt="Slide 6">
                </div>
                <div class="carousel-slide">
                        <img src="../../../assets/foto/WhatsApp Image 2024-07-04 at 21.34.03.jpeg" alt="Slide 7">
                </div>
               
        </div>
</div>

</div>
