<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header text-white">
          <h2 class="mb-0">Crea una nuova Lega</h2>
        </div>
        <div class="card-body">
          <form (submit)="creaLega(legaName.value); $event.preventDefault()">
            <div class="form-group">
              <label for="legaName">Nome della Lega</label>
              <input type="text" id="legaName" class="form-control" placeholder="Inserisci il nome della lega" #legaName required>
            </div>
            <div class="mt-3">
              <h5>Seleziona i componenti:</h5>
              <div *ngFor="let utente of utenti" class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" (change)="onUserSelectionChange(utente.id, $event)" id="utente-{{ utente.id }}">
                <label class="form-check-label" for="utente-{{ utente.id }}">
                  {{ utente.nome }} {{utente.cognome}}
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-success mt-4">Crea Lega</button>
          </form>
        </div>
      </div>

      <!-- Card della lega creata -->
      <app-lega-card *ngIf="legaCreata" [nomeLega]="legaCreata.nome" [utenti]="legaCreata.utenti" class="mt-4"></app-lega-card>
    </div>
  </div>
</div>