<nav class="navbar navbar-expand-lg p-0 m-0"  style="background-color: #69696B;">
    <div class="container-fluid col-9 ps-0">
      <img class="navbar-brand" src="../../../assets/foto/MaskEternity.png" class="m-0 p-0" alt="logo" style="width: 8%;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="user" class="nav-item">
            <a class="nav-link active" aria-current="page"  [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"
            routerLinkActive="active">Registrati</a>
          </li>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']"
            routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/utenti']"
            routerLinkActive="active">Utenti</a>
          </li>
          
           <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/team']"
            routerLinkActive="active">Squadre</a>
          </li> 

          <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/leggende']"
            routerLinkActive="active">Leggende</a>
          </li>
          <li *ngIf="user" class="nav-item">
            <a class="nav-link" [routerLink]="['/league']"
            routerLinkActive="active">Leghe</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid col-3">
    <h4 *ngIf="user" class="text-dark text-black ms-3">
      Benvenuto {{ user.nome }} 
  </h4>
  <button type="button" class="btn btn-danger me-3" *ngIf="user" (click)="logout()">
      Logout
  </button>
</div>
  </nav>