<div class="container mt-5">
    <div class="row g-3">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let leggenda of leggende">
        <div class="card text-center h-100 border-0 shadow-sm">
          <div class="card-body p-2">
            <img
              [src]="leggenda.avatar || 'https://via.placeholder.com/100'"
              class="img-fluid  mx-auto d-block mb-3"
              alt="Legend Image"
              style="width: 80px; height: 80px"
            />
            <h5 class="card-title mb-1">{{ leggenda.nome }} {{ leggenda.cognome }}</h5>
            <p class="card-text text-muted mb-1">{{ leggenda.ruolo }}</p>
            <p class="card-text text-primary">Valore in crediti: {{ leggenda.valore }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  
